body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #333;


    overflow: hidden;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
}
  
canvas {
  border: 1px solid #fff;
  background-color: #000;

  /* position: absolute;
  top: 0;
  left: 0;
  z-index: 0; */
}


html, body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Désactive le défilement */
  width: 100%;
  height: 100%;
}

/* canvas {
  display: block;
  width: 100vw; 
  height: 100vh;
} */